* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixa-texto {
    width: 600px;
}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
}

.menu {
    display: flex;
    justify-content: center;
}

button {
    background-color: #017143;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #004a2b;
}
button:active{
    opacity: 0.5;
}

.button1{
    visibility: visible;
}

.button2{
    visibility: hidden;
    position: absolute;
    left: 33%;
}

h2 {
    font-size: 60px;
    font-weight: 500;

}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo {
    width: 80px;

}

.starbucks {
    width: 340px;
    z-index: 2;
}

.copo-pequeno {
    width: 60px;
    cursor: pointer;
    transition: 1s;
}

.copo-pequeno:hover {
    transform: translateY(-35px);
}

.circulo {
    background: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);

}

@media screen and (max-width: 1025px) {

    .logo {
        width: 110px;

    }

    body {
        width: 100vw;
        height: 100vh;
        margin: 50px 50px;
        padding: 0px;
    }

    .conteudo {
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }

    h2 {
        font-size: 20px;
    }

    .caixa-imagem {
        width: 100vw;
    }

    .starbucks {
        position: absolute;
        right: 3%;
        top: 25%;
        width: 300px;
    }

    .circulo {
        width: 105%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        clip-path: circle(400px at right 500px);
        z-index: -1;

    }

    .menu {
        margin-top: 15%;
        margin-left: -10%;
        padding: 0px;
    }

    .copo-pequeno {
        width: 80px;
    }
}

@media screen and (max-width: 500px) {

    p {
        display: none;
    }

    .logo {
        width: 80px;

    }

    h2 {
        width: 100vw;
        font-size: 18px;
    }

    span {
        font-size: 40px;
    }

    button {
        font-size: 12px;
    }

    .caixa-texto {
        margin-left: 25%;
        margin-top: -30%;
    }

    .circulo {
        width: 110%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        clip-path: circle(320px at right 500px);
        z-index: -1;

    }
    .starbucks {
        right: 5%;
        top: 40%;
        width: 225px;
    }

    .menu {
        margin-top: 75%;
        margin-left: -22%;
    }

    .copo-pequeno {
        width: 70px;
    }
}